<!DOCTYPE html>
<html lang="en" class="route-documentation">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spotify Slack Status</title>
</head>
<body>
  <a href="https://accounts.spotify.com/authorize?client_id=<%= @client_id %>&amp;response_type=code&amp;redirect_uri=<%= @redirect_uri %>&amp;scope=user-read-currently-playing">
    Sign in with Spotify
  </a>
</body>
</html>
