
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Spotify Slack Status</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <a class="button is-large is-spotify" href="<%= @auth_url %>">
      Sign in with Spotify
    </a>
  </div>
</section>
