<!DOCTYPE html>
<html lang="en" class="route-documentation">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 - Spotify Slack Status</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" media="screen">
  <link rel="stylesheet" href="/main.css" media="screen">
</head>
<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Spotify Slack Status</h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="subtitle">404 Not Found</h2>
    </div>
  </section>
</body>
</html>
