<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="title" href="/">
            Spotify Slack Status
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="subtitle">404 Not Found</h2>
  </div>
</section>
